{% extends "base.html" %}

{% block content %}
<h1 align="center">Сообщения</h1>
<div align="center">Пользователь 3 - Пользователь 2</div>
{% for item in message%}
<div class="col-md6 border rounded">
    {% if item.user.name  == user %}
        <div class="alert alert-warning" role="alert">
<div align="left">
        {{item.content}}
    </div>
            {% if item.photo != None%}
                <h3 align="right"><img class="img-fluid w-5" src="{{url_for('static', filename=item.photo)}}"></h3>
            {% endif %}
    <div></div>
    </div>
    <div align="left">
        {{item.user.name}}, Дата - {{item.created_date}}
    </div>
</div>
 {% else %}
       <div class="alert alert-success" role="alert">
<div align="right">
        {{item.content}}
    </div>
    {% if item.photo != None%}
        <div></div>
            <img class="img-fluid w-5" src="{{url_for('static', filename=item.photo)}}">
    {% endif %}
    <div align="right">
        {{item.user.name}}, Дата - {{item.created_date}}
    </div>
</div>
 {% endif %}

{% endfor %}
<div>пользователь 2 пользователю 3</div>
<form class="login_form" method="post">
    <input type="text" class="form-control" id="text" placeholder="Введите текст" name="text">
</form>

<form class="login_form" method="post" enctype="multipart/form-data">
<div class="form-group">
    <input type="file" class="form-control-file" id="photo" name="file">
    <button name="отправить" type="submit" class="btn btn-primary">Отправить файл</button>
</div>
</form>
{% endblock %}