{% extends "base.html" %}

{% block content %}
<a href="http://127.0.0.1:8080/search" class="alert-link">Открыть выбор чата</a>
<h1 align="center">Сообщения</h1>
<h1 align="center">{{stroka}}</h1>
<a href="#myDiv">вниз</a>
{% for item in message%}
<div class="col-md6 border rounded">
    {% if item.user.name == user_to_name %}
        <div class="alert alert-warning" role="alert">
<div align="left">
        {{item.content}}
    </div>
            {% if item.photo != None%}
                <h3 align="left"><img class="img-fluid w-5" src="{{url_for('static', filename=item.photo)}}"></h3>
            {% endif %}
    <div></div>
    </div>
    <div align="left">
        {{item.user.name}}, Дата - {{item.created_date}}
    </div>
</div>
 {% else %}
       <div class="alert alert-success" role="alert">
<div align="right">
        {{item.content}}
    </div>
    {% if item.photo != None%}
        <div></div>
           <h3 align="right"><img class="img-fluid w-5" src="{{url_for('static', filename=item.photo)}}"></h3>
    {% endif %}
    <div align="right">
        {{item.user.name}}, Дата - {{item.created_date}}
    </div>
</div>
 {% endif %}

{% endfor %}
<form class="login_form" method="post">
    <input type="text" class="form-control" id="text" placeholder="Введите текст" name="text">
</form>

<form class="login_form" method="post" enctype="multipart/form-data">
<div class="form-group">
    <input type="file" class="form-control-file" id="photo" name="file">
    <button name="отправить" type="submit" class="btn btn-primary">Отправить файл</button>
</div>
</form>
<div id="myDiv"></div>
{% endblock %}

